<div class="container">
    <h1 class="red-heading" style="padding: 0; margin: 30px 0 15px 0;">TRIP FILES TABLE</h1>
    <div class="row">
      <div class="col-12">
        <p id="notice"><%= notice %></p>
        <table id="tf-table" class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>Flight</th>
              <th>Date Created</th>
              <th class="no-sort">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @trip_files.each do |tf| %>
              <tr>
                
                <td><%= "#{tf.flight} #{tf.flight_number}" %></td>
                <td><%= tf.created_at.strftime("%d %b %Y - %H:%M") %>
                <td><%= link_to 'Show', tf, class: 'btn btn-outline-primary btn-sm' %> 
                    <%#= link_to 'Download', tf.doc.url, download: '', class: 'btn btn-outline-success btn-sm' %> 
                    <%= link_to 'Edit', edit_trip_file_path(tf), class: 'btn btn-outline-warning btn-sm' %> 
                    <%= link_to 'Delete', tf, method: :delete, class: 'btn btn-outline-danger btn-sm' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'New Record', new_trip_file_path, class: 'btn btn-success' %>
        <%#= submit_tag "Download", class: 'awb-button btn2' %>
      </div>
    </div>
  </div>