<%= form_with(model: record, local: true, class: 'form-horizontal') do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>
      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <%= form.number_field :prefix, :required => true, id: "first", class: 'form-control col-2', placeholder: 'Prefix', pattern: "/^-?\d+\.?\d*$/", :onKeyPress => "if(this.value.length==3) return false;", :style => "padding: 10px; margin-right: 10px;" %>
    <%= form.number_field :awbnum, :required => true, id: "second", class: 'form-control col-9', placeholder: 'AWB Number', pattern: "/^-?\d+\.?\d*$/", :onKeyPress => "if(this.value.length==8) return false;", :style => "padding: 10px; margin-right: 10px;" %>
  </div>

  <div class="row">
    <%= form.file_field :doc, :required => true, class: 'uploadBtn col-12', :accept => "image/*", :style => "padding: 10px 0" %>
  </div>
  <div class="row">

    <%= form.submit 'Submit', id: "submit", :class => 'submit' %>
  </div>
<% end %>
