<%= form_tag records_batch_download_path do %>
  <div class="container">
    <h1 class="red-heading" align="center">Record Table</h1>
    <div class="row">
      <div class="col-12">
        <p id="notice"><%= notice %></p>
        <table id="awbtable" class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th id="no-sort"></th>
              <th>Airway Bill</th>
              <th>Date Created</th>
              <th class="no-sort">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @records.each do |record| %>
              <tr>
                <td><%= check_box_tag "record[#{record.id}]" %></td>
                <td><%= record.awbnum %></td>
                <td><%= record.created_at.strftime("%d %b %Y - %H:%M") %>
                <td><%= link_to 'Show', record, class: 'btn btn-outline-primary btn-sm' %> <%= link_to 'Download', record.file, download: '', class: 'btn btn-outline-success btn-sm' %> <%= link_to 'Edit', edit_record_path(record), class: 'btn btn-outline-warning btn-sm' %> <%= link_to 'Delete', record, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to 'New Record', new_record_path, class: 'awb-button btn1' %>
        <%= submit_tag "Download", class: 'awb-button btn2' %>
      </div>
    </div>
  </div>
<% end %>

<br><br>