<p id="notice"><%= notice %></p>

<p>
  <strong>Awbnum:</strong>
  <%= @record.awbnum %>
</p>

<%= image_tag @record.doc.url, style: "width: 400px" %>
<br><br>
<%= link_to 'View', @record.doc.url, target: '_blank' %> |
<%= link_to 'Download', @record.doc.url, download: '' %> |

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
